/* html5 Reset Stylesheet*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{margin:0; padding:0; border:0; outline:0;/* font-size:100%; */vertical-align:baseline; background:transparent; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
body{line-height:1;}
:focus{outline: none;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
a{margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; transition:all 0.2s; -webkit-transition:all 0.2s; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;color: #333;    outline: none;}
a:focus, a:hover{text-decoration:none;}
ins{background-color:#ff9; color:#000; text-decoration:none;}
mark{background-color:transparent; color:#ccc; font-style:inherit; font-weight:normal;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted #000; cursor:help;}
table{border-collapse:collapse; border-spacing:0;    outline: none;}
hr{display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select{box-shadow: none !important; vertical-align:middle; transition:all 0.2s; -webkit-transition:all 0.2s; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;    outline: none;}
button{cursor: pointer; border:none;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;    outline: none;}

/*清除浮动*/
.clear_float{

}
.clear_float {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.clear_float:after {clear:both;content:'';display:block;width: 0;height: 0;visibility:hidden;}

/*引用ui框架样式重置*/
input.error {
    border: 1px solid #a94442 !important;
}
.glyphicon-warning-sign:before {
    color: #a94442;
}
.ngdialog.ngdialog-theme-default {
    z-index: 999;
}
.ui-popup .ui-notice {
    z-index:9999;
}

/*canvas*/
canvas {
    display: block;
}
#myCanvas {
    background: #00BFFF;
}

/*会员查询*/
.page_window .tit_logo{
    position: absolute;
    right: 0;
    top:-20px;
}
.page_window .tit_logo img{
    height: 18px;
}
.page_window .tit_top{
    position: absolute;
    top: -16px;
    left:0;
    width: 100%;
    text-align: center;
}
.page_window .tit_top .mid_line{
    display: inline-block;
    width: 110px;
    border-top: 3px solid #2692EA;
}
.page_window .title{
    font-size:20px;
    font-weight: bold;
}
.page_window .title img{
    width: 20px;
    cursor: pointer;
}
.page_window .title span{
    display: inline-block;
    width: 49%;
}
.page_window .title span:first-child{
    text-align: left;
}
.page_window .title span:last-child{
    text-align: right;
}
.page_window .pop_content label {
    width: 100px;
    padding-left: 5px;
    display: inline-block;
    font-size: 15px;
    /*color:#00071E;*/
    text-align: right;
    white-space: nowrap;
}
.pop_content input[type=text] {
    display: inline-block;
    width: 220px;
    height: 30px;
    font-size: 0.9em;
    padding: 0 5px;
    border: 1px solid #CCCED4;
    border-radius: 3px;
}
.pop_content em{
    color:#ff0000;
}
.pop_content .cont_query1{
    margin: 68px 0 0 10px;
}
.pop_content .cont_query2{
    margin: 15px 0 60px 10px;
}
.ngdialog .btn_wrap {
    text-align: center;
    padding-top: 10px;
    /*border-top: 1px solid #ddd;*/
}
.ngdialog .btn_wrap .button {
    width: 110px;
    height: 34px;
    /*padding: 0 35px;*/
    border-radius: 3px;
    margin: 0 5px;
    background: #bac2ca;
    color: #FFF;
}
.ngdialog .btn_wrap .button.emphasize {
    background: #78CA44;
}
.ngdialog .btn_wrap .button.close_btn{
    background: #fff;
    color:#78CA44;
    border: 1px solid #78CA44;
}
.pop_content.no_vip_cont{
    text-align: center;
    padding:90px 0;
    color:#FF9F00;
    letter-spacing:2px;
}
.pop_content.vip_success{
    text-align: center;
    padding:90px 0;
    color:#78CA44;
    letter-spacing:2px;
}
.page_window .pop_reg{
    padding:30px 0;
}
.page_window .pop_content select{
    box-shadow: none;
    display: inline-block;
    width: 220px;
    height: 30px;
    font-size: 0.9em;
    padding: 0 5px;
    border: 1px solid #CCCED4;
    border-radius: 3px;
}
.page_window .pop_reg .reg_cont{
    padding:10px 0;
}
.page_window .ercode_cont{
    text-align: center;
    padding:50px 0 0 0;
}
.page_window .ercode_cont img{
    width: 100px;
}
.page_window .ercode_cont .ercode{
    display: inline-block;
    width: 100px;
    margin:0 70px;
}
.page_window .ercode_cont .ercode p{
    font-size: 14px;
}
.page_window .pop_content table{
    width: 100%;
}
.page_window .pop_content table thead th{
    font-size: 14px;
    text-align: left;
    border:1px solid #dddddd;
    padding:3px 5px;
}
.page_window .pop_content table tbody td{
    border:1px solid #dddddd;
    padding:3px 5px;
    font-size: 14px;
}
.page_window .query_success{
    padding:30px 0;
}
.page_window .query_success .operation button{
    background: #fff;
    color:#78CA44;
    padding:0;
    margin-right: 10px;
}
.page_window .query_msg{
    padding:75px 0;
    text-align: center;
}
.page_window .query_msg p:first-child{
    color:#78CA44;
}
.page_window .query_msg p:last-child{
    color:#9B9B9B;
    font-size:12px;
}
/*会员卡详情*/
.page_window .details_cont{
    padding:30px 0;
}
.page_window .details_cont ul li{
    float:left;
    margin-bottom: 20px;
    margin-left:25px;
}

.page_window .pop_content select-date .input-data input{ width: 154px; border-top-right-radius: 0; border-bottom-right-radius: 0;border-right: none}
.page_window .pop_content select-date .input-data .input-group-btn{ display: inline-block; width: auto;}
.page_window .pop_content select-date .input-data .input-group-btn button:nth-child(1){border: 1px solid #ddd; border-left: none;    color: black !important;background: white}
.page_window .pop_content select-date .input-data .input-group-btn button:nth-child(1):hover,.page .content .main .result_wrap .result_table td select-date .input-data .input-group-btn button:nth-child(1):active,.page .content .main .result_wrap .result_table td select-date .input-data .input-group-btn button:nth-child(1):focus{box-shadow: none;background-color: #ffffff;cursor: inherit}
.page_window .details_cont ul li.time_style .input-data { display: inline-block; width: auto;}

.page_window .describe_cont .cont_left,
.page_window .describe_cont .cont_right{
    float:left;
}
.page_window .describe_cont .cont_left{
    width: 40%;
    border:1px solid #78CA44;
    padding:20px;
    border-radius: 5px;
}
.page_window .describe_cont .cont_left span{
    display: inline-block;
}
.page_window .describe_cont .cont_left .left{
    float: left;
}
.page_window .describe_cont .cont_left .left img{
    width:100px;
    border-radius:50%;
}
.page_window .describe_cont .cont_left .right{
    float: left;
}
.page_window .describe_cont .cont_left .right li{
    margin-bottom: 10px;
    margin-left: 30px;
}
.page_window .describe_cont .cont_left .right li input{
    width: 160px;
    border: none;
}
.page_window .describe_cont .cont_left .right li img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.page_window .describe_cont .cont_left .right li select{
    width: 188px;
    border: none;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../images/down.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    cursor:pointer;
}
.page_window .describe_cont .cont_left .right li label{
    width: 0;
    margin-left: 0;
}
.page_window .describe_cont .cont_left .right .down_img{
    margin-left: -27px;
}
.page_window .describe_cont .cont_left .right li .input-data { display: inline-block; width: auto;}


.page_window .describe_cont .cont_right{
    width: 60%;
    /*background: #DDDDDD;*/
    /*border-top: 1px solid #ddd;*/
    box-shadow: 0 -2px 0 #ddd;
}
.page_window .describe_cont .cont_right li{
    float: left;
    width: 240px;
    margin: 18px 0 0 70px;
    position: relative;
}
.page_window .describe_cont .cont_right li .vip_level{
    position: absolute;
    top:20px;
    left: 104px;
    font-size: 12px;
    color:#F5A623;
}

/*去掉bootstrap点击按钮的外边框*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

/*优惠券查询*/
.page_window .pop_content.coupons_cont_con label {
    width: 120px;
}
.coupons_cont{
    height: 354px;
    overflow-y: auto;
}
.coupons_cont .coupons_ul li{
    width: 298px;
    height: 88px;
    background: url('../images/coupons_bg.png') no-repeat 100%;
    float:left;
    margin: 0 0 30px 30px;
    cursor:pointer;
    position: relative;
    color:#fff;
}
.coupons_cont .coupons_ul li .left_cont{
    position: absolute;
    width: 106px;
    text-align: center;
    top:25px;
    left:0;
}
.coupons_cont .coupons_ul li .left_cont strong{
    font-size:30px;
}
.coupons_cont .coupons_ul li .right_cont{
    position: absolute;
    top:0;
    left:125px;
    font-size: 12px;
    width: 172px;
}
.coupons_cont .coupons_ul li .right_cont span{
    display:block;
    line-height: 1em;
    padding: 4px;
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.coupons_cont .coupons_ul li .right_cont .msg1{
    font-size: 16px;
}
.coupons_cont .coupons_ul li .right_cont .msg2{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color:#7D4E00;
    width: 160px;
}
/*优惠券选中*/
.coupons_cont .coupons_ul li .right_cont.check{
    background: url('../images/selected.png') no-repeat 130px -5px;
}


/*列表区域*/
.page_window .result_wrap{ background: #FFF; border-top: 5px solid #f0f0f0 ; overflow: hidden;}
.page_window .result_wrap .result_title{ margin: 10px;display: inline-block;}
.page_window .result_wrap .result_table{ width: 100%; font-size: 0.9em; border-collapse: collapse; margin-bottom: 10px;}
.page_window .result_wrap .result_table tr:active td{background: #f9f9f9;}
.page_window .result_wrap .my_nav-tabs li{
    float: left;
}
.page_window .result_wrap .my_nav-tabs>li a{
    display: inline-block;
    padding: 15px 10px;
    border-bottom:3px solid transparent;
    color:#000;
}
.page_window .result_wrap .my_nav-tabs>li.active a{font-weight: bold ;border:none;border-bottom:3px solid #78CA44;}

.page_window .result_wrap .result_table thead{display:table;  width:100%;  table-layout:fixed;}
.page_window .result_wrap .result_table thead tr{display:table;  width:100%;  table-layout:fixed;}
.page_window .result_wrap .result_table th{ background: #f6f7f8; padding: 10px 5px; text-align: left; cursor:pointer; border: 1px solid #eff0f1;    word-break: keep-all;white-space: nowrap;font-size: 12px;    min-width: 37px;}
.page_window .result_wrap .result_table th .remark{font-weight: 100; padding-top: 3px;}
.page_window .result_wrap .result_table td{ border:1px solid #eff0f1; padding:2px 5px; text-align: left; height: 40px; vertical-align: middle; line-height: 18px;cursor: default;word-break: break-all}
.page_window .result_wrap .result_table td select,.page .content .main .result_wrap .result_table td input[type="text"],.page .content .main .result_wrap .result_table td input[type="password"]{width: 220px;}
.page_window .result_wrap .result_table td select.small,.page .content .main .result_wrap .result_table td input[type="text"].small,.page .content .main .result_wrap .result_table td input[type="password"].small{width: 80px;}
.page_window .result_wrap .result_table td select.big,.page .content .main .result_wrap .result_table td input[type="text"].big,.page .content .main .result_wrap .result_table td input[type="password"].big{width: 400px;}
.page_window .result_wrap .result_table tbody{display:block; height:100px;overflow-y:scroll;margin-right: -17px; }
.page_window .result_wrap .result_table tbody tr{display:table;  width:100%;  table-layout:fixed; }
.page_window .result_wrap .result_table tbody tr:nth-child(even){ background-color: rgb(252, 252, 253);}
.page_window .result_wrap .result_table tbody tr:hover{ background-color: rgba(238, 238, 238, 0.49)}
.page_window .result_wrap .result_table td.left{ text-align: left;}


/*分页*/
.page_turner{ padding: 10px; background: #FFF; text-align: right; font-size: 12px; color: #999; line-height: 22px; }
.page_turner button{ background: #bbc2ca; color: #FFF; height: 22px; padding: 0 8px; border-radius: 3px; margin: 0 1px;vertical-align: middle;}
.page_turner button.curr{ background: #5bc0de;}
.page_turner button:hover{ background: #acb5bf;}
.page_turner button.curr:hover{ background: #5bc0de;}
.page_turner input[type="number"]{ width: 50px; height: 22px; padding: 0 5px; border:1px solid #ddd; border-radius: 3px; margin: 0 2px;}
.page_turner select{ width: 50px; height: 22px; background: #FFF; border:1px solid #ddd; border-radius: 3px; margin: 0 2px;}
