<div class="page">
    <div style="padding:1px 0;">
        <div class="center_box clear_float">
            <img class="headerimg" src="./images/ercode.png" alt="">
            <p class="cf">
                <span>龙眼彩服</span>
                <span class="members">高级会员</span>
            </p>
            <p class="tel">15007142244</p>
            <table class="center_table">
                <tr>
                    <td>营业时间</td>
                    <td>起投金额</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="dis_span">
                            <p>周一到周五</p>
                            <p class="fot_w">
                                <span>08:50-23:55</span>
                                <img ng-click="open_change_time_window()" src="./images/remark.png" alt="">
                            </p>
                        </div>
                        <div class="dis_span">
                            <p>周一到周五</p>
                            <p class="fot_w">
                                <span>08:50-23:55</span>
                                <img ng-click="open_change_time_window()" src="./images/remark.png" alt="">
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="dis_span">
                            <p>　</p>
                            <p class="fot_w">
                                <span>08:50-23:55</span>
                                <img ng-click="open_change_money_window()" src="./images/remark.png" alt="">
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="dis_span">
                            <p>　</p>
                            <p class="fot_w" style="font-size:14px;color:#9e9e9e;">*更多设置请前往手机版</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>