<div class="window_pop">
    <div class="left_box">
        <input class="searh" type="text" placeholder="输入客户名称">
        <ul class="pop_ul">
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
            <li>
                <div>
                    <img src="./images/ercode.png" alt="">
                    <span class="tit_box">
                        <p>外打副本呢（陈光伟）</p>
                        <p>15007152233</p>
                    </span>
                    <input type="radio">
                </div>
            </li>
        </ul>
        <div class="page_pop">
            <span class="active">上一页</span>
            <span class="count"><em>1</em>/<em>10</em></span>
            <span class="active">下一页</span>
        </div>
    </div>
    <div class="right_box">
        <div class="box_s">
            <p>请从左侧列表中找到要转移的客户，请确保两人是同一客户！</p>
            <ul class="pop_ul_two">
                <!-- <li>
                    <div>
                        <img src="./images/ercode.png" alt="">
                        <span class="tit_box">
                            <p>外打副本呢（陈光伟）</p>
                            <p>15007152233</p>
                        </span>
                        <input type="radio">
                    </div>
                </li> -->
                
            </ul>
            <div class="text_center" style="margin-top:20px;">
                <span class="btn" ng-click="ngDialog_close()">取消</span>
                <span class="btn ok" ng-click="open_delete_window()">确定</span>
            </div>
            <p class="ts">提示：如果列表中找不到要转移的客户，请联系原客户关注您的智慧店铺</p>
        </div>
    </div>
</div>