<div class="page_window">
    <div class="tit_logo"><img src="./images/icrm_logo.png" alt="logo"></div>
    <div class="tit_top"><span class="mid_line"></span></div>
    <p class="title">
        <span>会员注册</span>
        <span><img src="./images/close.png" alt="关闭" ng-click="ngDialog_close()"></span>
    </p>
    <div class="pop_content pop_reg details_cont">
        <ul class="clear_float">
            <li>
                <label>姓名 <em>*</em>：</label>
                <input type="text" ng-class="valid.customer_name" placeholder="请输入姓名" ng-model="data.form_data.customer_name">
                <span class="glyphicon" title="{{valid.customer_name_tip}}" alt="{{valid.customer_name_tip}}" ng-class="valid.customer_name_ico"></span>
            </li>
            <li>
                <label>性别 <em>*</em>：</label>
                <select ng-model="data.form_data.customer_sex" ng-class="valid.customer_sex">
                    <option value="">请选择</option>
                    <option value="0">保密</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
                <span class="glyphicon" title="{{valid.customer_sex_tip}}" alt="{{valid.customer_sex_tip}}" ng-class="valid.customer_sex_ico"></span>
            </li>
            <li class="time_style">
                <label class="name">生日 <em>*</em>：</label>
                <select-date class="select_single" ng-class="valid.birthday" input-title="生日" input-value="data.form_data.birthday" input-format="1"></select-date>
                <span class="glyphicon" title="{{valid.birthday_tip}}" alt="{{valid.birthday_tip}}" ng-class="valid.birthday_ico"></span>
            </li>
            <li>
                <label>手机号 <em>*</em>：</label>
                <input type="text" ng-class="valid.tel" ng-model="data.form_data.tel">
                <span class="glyphicon" title="{{valid.tel_tip}}" alt="{{valid.tel_tip}}" ng-class="valid.tel_ico"></span>
            </li>
            <li>
                <label>注册品牌 <em>*</em></label>
                <select id="VipQueryWindows6" ng-class="valid.brand" ng-model="data.form_data.brand">
                    <option value="">请选择</option>
                    <option value="{{y.brand_code}}" ng-repeat='(x,y) in data.brand_options'>{{y.brand_name}}</option>
                </select>
                <span class="glyphicon" title="{{valid.brand_tip}}" alt="{{valid.brand_tip}}" ng-class="valid.brand_ico"></span>
            </li>

        </ul>

        <div class="ercode_cont" ng-show="false">
            <span class="ercode" ng-show="true">
                <img src="./images/ercode.png" alt="公众号二维码">
                <p>公众号会员注册</p>
            </span>
            <span class="ercode" ng-show="true">
                <img src="./images/ercode.png" alt="小程序二维码">
                <p>小程序会员注册</p>
            </span>
        </div>
    </div>
    <div class="btn_wrap">
        <button class="button emphasize" ng-click="vip_reg()">注册</button>
        <button class="button close_btn" ng-click="ngDialog_close()">关闭</button>
    </div>
</div>