<div class="page">
  <div class="manage_top">
    <ul class="tab clear_float">
      <li class="active">全部</li>
    </ul>
    <span class="search">查询</span>
    <div class="search_input">
      <input type="text" placeholder="输入订单编号">
      <i class="glyphicon glyphicon-search"></i>
    </div>
  </div>
  <div class="main_box">
    <p class="child_x">
      <span class="tit">外打副本呢</span>
      <span>预存时间：2019-02-22 17:30</span>
      <span>预存金额：100.00</span>
      <span class="btn_float" ng-click="open_account_window()">点击处理</span>
    </p>
    <p class="child_x">
      <span class="tit">外打副本呢</span>
      <span>预存时间：2019-02-22 17:30</span>
      <span>预存金额：100.00</span>
      <span class="btn_float" ng-click="open_account_window()">点击处理</span>
    </p>
  </div>
  <div class="table_box">
    <table>
      <tr>
        <th>微信昵称</th>
        <th>备注名</th>
        <th>绑定手机</th>
        <th>注册时间</th>
        <th>余额</th>
        <th class="wid_width">操作</th>
      </tr>
      <tr>
        <td>外打副本呢</td>
        <td class="blue">未设置</td>
        <td class="gray">未绑定</td>
        <td>02-21 16:14:47</td>
        <td>100.00</td>
        <td><span class="btn" ng-click="goto('/accountDetail/'+1000)">清账</span></td>
      </tr>
      <tr>
        <td>外打副本呢</td>
        <td>陈光伟</td>
        <td>15007152233</td>
        <td>02-21 16:14:47</td>
        <td>100.00</td>
        <td><span class="btn" ng-click="goto('/accountDetail/'+1000)">清账</span></td>
      </tr>
    </table>
  </div>
  
</div>