<div class="page_window">
    <div class="tit_logo"><img src="./images/icrm_logo.png" alt="logo"></div>
    <div class="tit_top"><span class="mid_line"></span></div>
    <p class="title">
        <span>优惠券查询</span>
        <span><img src="./images/close.png" alt="关闭" ng-click="ngDialog_close()"></span>
    </p>
    <div class="pop_content coupons_cont_con">
        <div class="cont_query1">
            <label for="VipQueryWindows1">优惠券号 <em>*</em>：</label>
            <input type="text" id="VipQueryWindows1" ng-keypress="key_press($event)" ng-class="valid.coupon_code" ng-model="data.search_data.coupon_code">
            <span class="glyphicon" title="{{valid.coupon_code_tip}}" alt="{{valid.coupon_code_tip}}" ng-class="valid.coupon_code_ico"></span>
        </div>
        <div class="cont_query2">
            <label for="VipQueryWindows2">使用人手机号 <em>*</em>：</label>
            <input type="text" id="VipQueryWindows2" ng-keypress="key_press($event)" ng-class="valid.tel"  ng-model="data.search_data.tel">
            <span class="glyphicon" title="{{valid.tel_tip}}" alt="{{valid.tel_tip}}" ng-class="valid.tel_ico"></span>
        </div>
    </div>
    <div class="btn_wrap">
        <button class="button emphasize" ng-click="check_coupons()" ng-keypress="key_press($event)">查询</button>
    </div>
</div>