<div class="page_window">
    <div class="tit_logo"><img src="./images/icrm_logo.png" alt="logo"></div>
    <div class="tit_top"><span class="mid_line"></span></div>
    <p class="title">
        <span>会员信息修改</span>
        <span><img src="./images/close.png" alt="关闭" ng-click="ngDialog_close()"></span>
    </p>
    <div class="pop_content query_msg">
        <p>修改成功</p>
        <p>{{back_msg}}</p>
    </div>
    <div class="btn_wrap">
        <button class="button emphasize" ng-click="go_back_details()">返回详情</button>
        <button class="button close_btn" ng-click="ngDialog_close()">关闭</button>
    </div>
</div>