<!-- 任选九详情 -->
<div class="page">
    <div class="detail">
        <div class="detail_top">
            <div class="det_row_1">
                <p class="tit">
                    <span>待打票</span>
                    <span>></span>
                    <span>订单详情</span>
                </p>
                <p class="tit_det">
                    <span>客户：15007152233</span>
                    <span>订单编号：201823547323</span>
                    <span>金额：100.00</span>
                </p>
            </div>
            <div class="det_row_2">
                <span class="btn_z blue_border" ng-click="open_out_window()">撤单</span>
                <span class="btn_z blue" ng-click="open_revoke_window()">确认出票</span>
            </div>
        </div>
        <p class="detail_tit">
            <span>排列五</span>
            <span>第2019023期</span>
        </p>
        <div class="table_box">
            <table class="detail_table">
                <tr>
                    <th>期号</th>
                    <th>玩法</th>
                    <th>号码</th>
                    <th>结果</th>
                </tr>
                <tr>
                    <td>001</td>
                    <td>直选普通</td>
                    <td>
                        <p class="pad">9丨5丨3丨2丨1</p>
                    </td>
                    <td>--</td>
                </tr>
            </table>
        </div>

    </div>
</div>