<!-- 任选九详情 -->
<div class="page">
    <div class="detail">
        <div class="detail_top">
            <div class="det_row_1">
                <p class="tit">
                    <span>待打票</span>
                    <span>></span>
                    <span>订单详情</span>
                </p>
                <p class="tit_det">
                    <span>客户：15007152233</span>
                    <span>订单编号：201823547323</span>
                    <span>金额：100.00</span>
                </p>
            </div>
            <div class="det_row_2">
                <span class="btn_z blue_border" ng-click="open_out_window()">撤单</span>
                <span class="btn_z blue" ng-click="open_revoke_window()">确认出票</span>
            </div>
        </div>
        <p class="detail_tit">
            <span>任选九</span>
            <span>9场</span>
            <span>第2019023期</span>
        </p>
        <div class="table_box">
            <table class="detail_table">
                <tr>
                    <th>场次</th>
                    <th>截止时间</th>
                    <th>对阵</th>
                    <th style="width: 35%;">选项</th>
                    <th style="width: 14%;">赛果</th>
                </tr>
                <tr>
                    <td>周四001</td>
                    <td>02-22 15:55</td>
                    <td>比利亚雷 VS 里斯本</td>
                    <td>
                        <span class="change">平</span>
                        <span class="change">负 39.00</span>
                    </td>
                    <td>胜；让胜；
                        平胜；2-0；
                        2球</td>
                </tr>
                <tr>
                    <td>周四001</td>
                    <td>02-22 15:55</td>
                    <td>比利亚雷 VS 里斯本</td>
                    <td>
                        <span class="change">平</span>
                    </td>
                    <td>胜</td>
                </tr>
                <tr>
                    <td>周四001</td>
                    <td>02-22 15:55</td>
                    <td>比利亚雷 VS 里斯本</td>
                    <td>
                        <span class="change">平</span>
                    </td>
                    <td>胜</td>
                </tr>
            </table>
        </div>
        <div class="table_box" style="margin-top:10px;">
            <table class="detail_table">
                <tr>
                    <th>序号</th>
                    <th>注数</th>
                    <th>倍数</th>
                    <th>金额</th>
                    <th style="width: 35%;">选项</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>5</td>
                    <td>10</td>
                    <td>20</td>
                    <td>复式 3丨31丨3丨10丨3丨31丨3丨10丨3丨31丨3丨10丨3</td>
                </tr>
            </table>
        </div>
    </div>
</div>